<div class="container">
   <div class="row justify-content-md-center mt-5">
      <div class="col-md-8">
         <div class="card text-white bg-success">
            <div class="card-header">Success</div>
            <div class="card-body">
               <p>
               Congratulations {{name}} you now are now able to signin.
               </br>
               </br>
               <i class="far fa-thumbs-up big-icon"></i>
               </p>
            </div>
         </div>
      </div>
   </div>
</div>